body{
  color:rgb(1, 4, 92);
  background-color: rgb(250, 236, 209);
  font-family : system-ui;
}

.curd{
  width: 80%;
  margin:auto;
}
.head{
  text-align: center;
  text-transform:uppercase;
  font-style: italic;
}
input{
  background-color: rgb(91, 197, 251);
  border: none;
  outline: none;
  border-radius: 3px;
  width: 100%;
  height: 30px;
  margin: 5px 0;
  padding: 5px;
  color:rgb(255, 255, 255);
}
input:focus{
  background-color: rgb(1, 4, 92);
  transform: scale(1.1);
}
.price{
  display: flex;
}
.price input{
  margin-right: 5px;
}
 
/* .price input{
  width: 20%;
} */

small{
  background-color: #ff4747;
  padding: 5px;
  border-radius: 5px;
  height: 27px;
  margin-top: 6px;
}
small::before{
  content: 'Total:';
}
button{
  width: 100%;
  height: 30px;
  border: none;
  cursor: pointer;
  background-color: rgb(26, 26, 99);
  color: white;
  border-radius: 20px;
  font-size: 17px;
  font-weight: 500;
  margin: 3px 0;
  transition:0.5s ;
}
button:hover{
  background-color:rgb(89, 89, 155); 
  letter-spacing: 2px;
  height: 40px;
}

.btnSearch{
  display: flex;
  justify-content: space-between;
}
.btnSearch button{
  width: 45%;
}

table{
  width: 100%;
  text-align:center ;
  margin-top: 15px;
  border: 1px solid rgb(26, 26, 99);
}

th{
  text-transform: uppercase;
}

td,th {
  padding: 5px;
  border: 1px solid rgb(26, 26, 99);
}

#deleteAll{
  margin: 5px 0;
}
.conact-me a{
  text-decoration: none;
}
