body{
  background-color: rgb(33, 32, 32);
  color:white;
  font-family: system-ui;
}

.curd{
  width: 80%;
  margin:auto;
}
.head{
  text-align: center;
  text-transform:uppercase ;
  margin-top: 12px;
  font-style: italic;
}
input{
  background-color: rgb(71, 71, 71);
  border: none;
  outline: none;
  border-radius: 3px;
  width: 100%;
  height: 30px;
  margin: 5px 0;
  padding: 5px;
  color: white;
  
}
input:focus{
  background-color: black;
  transform: scale(1.1);
}
.price{
  display: flex;
}
.price input{
  margin-right: 5px;
}
 
/* .price input{
  width: 20%;
} */

small{
  background-color: rgb(210, 34, 34);
  padding: 5px;
  border-radius: 5px;
  height: 27px;
  margin-top: 6px;
}
small::before{
  content: 'Total:';
}
button{
  width: 100%;
  height: 30px;
  border: none;
  cursor: pointer;
  background-color: rgb(26, 26, 99);
  color: white;
  border-radius: 20px;
  font-size: 17px;
  font-weight: 500;
  transition:0.5s ;
}
button:hover{
  background-color:rgb(89, 89, 155); 
  letter-spacing: 2px;
  transform: scale(1.1);
}

.btnSearch{
  display: flex;
  justify-content: space-between;
}
.btnSearch button{
  width: 45%;
}

table{
  width: 100%;
  text-align:center ;
  margin-top: 15px;
  border: 1px solid white;
}

th{
  text-transform: uppercase;
}

td,th {
  padding: 5px;
  border: 1px solid white;
}

#deleteAll{
  margin-top: 10px;
}

.conact-me a{
  text-decoration: none;
  color: rgb(41, 41, 244);
}